[Unit]
Description=Creates a dnsmasq container for dhcp and tftpboot service
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

Requires=dnsmasq-init.service
After=dnsmasq-init.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/usr/share/bastion_services/dhcp/dnsmasq_systemd.conf
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=-/usr/bin/podman stop dhcpv1
ExecStartPre=-/usr/bin/podman rm -f dhcpv1
ExecStartPre=-/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run  --rm -d --name dhcpv1 --network host \
    --cap-add=NET_ADMIN --cap-add=NET_RAW \
    -v ${PODMAN_DNSMASQ_BASEDIR}/etc:/etc \
    -v ${PODMAN_DNSMASQ_BASEDIR}/tftpboot:/var/lib/tftpboot \
    ${PODMAN_DNSMASQ_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=one-shot
RemainAfterExit=yes
KillMode=none

[Install]
WantedBy=default.target
